# use two separate database URIs for role-based storage
ADMIN_MONGO_URI=mongodb://localhost:27017/admin_db
SNIP_MONGO_URI=mongodb://localhost:27017/snip_db

PORT=5000

JWT_SECRET=smartplotsecret

CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
