# use two separate database URIs for role-based storage
ADMIN_MONGO_URI=mongodb://localhost:27017/admin_db
SNIP_MONGO_URI=mongodb://localhost:27017/snip_db

PORT=5001

JWT_SECRET=smartplotsecret